#semaforo {
    width: 120px;
    height: 290px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
}

.active {
    box-shadow: 0 0 50px white;
}

.inactive {
    box-shadow: 0 0 white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgb(255, 166, 0);
}

.green {
    background-color: rgb(11, 169, 11);
}